/* ========================================

    CODE YOUR STYLES BELOW!

   ====================================== */

/* --  -- */

h4 {
    padding: 2rem 0;
    margin: 0;
}

.shadow-typo {
    font-family: 'Bubblegum Sans', cursive;
    position: relative;
    display: inline-block;
    font-size: 9rem;
    text-transform: uppercase;
    color: #00b3b4;
    text-shadow: 3px 3px 0 #e7eef1, 8px 8px 0 rgba(0,0,0,0.1 );
}

.threedee-typo {
    font-size: 9rem;
    text-transform: uppercase;
    color: #f2395a;
    transform: skew(-5deg, -5deg) rotate(5deg);
    transform-origin: center center;
    text-shadow: 1px 1px #d10e31,
                2px 2px #d10e12,
                3px 3px #d10e12,
                4px 4px #d10e12,
                5px 5px #d10e12,
                6px 6px #d10e12,
                7px 7px #d10e12,
                8px 8px #890920,
                9px 9px #890920,
                10px 10px #890920,
                11px 11px 1rem rgba(0,0,0,0.5);
}